<% provide(:title, "Home") %>

<section id="header" class="jumbotron text-center">
   <div id="header-content">
   <h1 class="display-3">
      Note 
   </h1>
   <p class="lead">
     Record your contact notes with ease
   </p>
         <h5>
         Image source: https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
     </h5>
   </div>
</section>
<section id="gallery">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-4 mt-3 d-flex align-items-stretch">
            <div class="card">
               <div class="card-header">
                  <h3>About Note</h3>
               </div>
               <div class="card-body" style="color: black">
                  <p class="card-text">
                  <p class="intro">
                     Note is an application allowing users to take notes of meetings and interactions with their contacts
                  </p>
                  <p>
                     Note is developed by a member of GrinTECH, a student organization advocating the 
                     use of technology for social good
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-lg-4 mt-3 d-flex align-items-stretch">
            <div class="card">
               <div class="card-header">
                  <h3>Users</h3>
               </div>
               <div class="card-body" style="color: black">
                  <p class="card-text">
                  <p class="intro">
                    Anyone who prefers to record and organize their network such as professionals, students and organizations' admin
                  </p>
                  
               </div>
            </div>
         </div>
         <div class=" col-md-12 col-lg-4 mt-3  d-flex align-items-stretch">
            <div class="card">
               <div class="card-header">
                  <h3>How to use</h3>
               </div>
               <div class="card-body" style="color: black">
                 <p class="intro">
                     After creating accounts, users can add new contact with corresponding notes, modify details, or delete them later
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
   src="https://code.jquery.com/jquery-3.4.1.min.js"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
   crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>