<% provide(:title, "Home") %>

<section id="header" class="jumbotron text-center">
   <h1 class="display-3">
      Note 
   </h1>
   <p class="lead">
     Record your contact history with ease
   </p>
   <div class="text-center">
      <!-- <h3 class="contact-heading">Drop me an <a href="mailto:khuatgia@grinnell.edu" target="_blank">email</a> anytime! 
         </h3>  -->
      <div class="icons">
         <a id="email" href="mailto:khuatgia@grinnell.edu" target="_blank" alt="Email">
         <img src="pictures/email.png" alt="Email me" style="width: 64px; height: 64px;">
         </a>
         <a id="linkedin" href="https://www.linkedin.com/in/giangkhuat/" target="_blank">
         <img src="pictures/linkedin-logo.png" alt="Giang's LinkedIn" style="width: 64px; height: 64px;">
         </a>
         <a id="github" href="https://github.com/giangkhuat" target="_blank" alt="Giang's Github">  
         <img src="pictures/github.png" style="width: 64px; height: 64px;">
         </a>
      </div>
   </div>
</section>
<section id="gallery">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-4 mt-3 d-flex align-items-stretch">
            <div class="card">
               <div class="card-header">
                  <h5>What is it ?</h5>
               </div>
               <div class="card-body" style="color: black">
                  <p class="card-text">
                  <p class="intro">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                  </p>
                  <a href="#" class="btn btn-outline-success btn-sm"> Contact me </a>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-lg-4 mt-3 d-flex align-items-stretch">
            <div class="card">
               <div class="card-header">
                  <h5>How To Use</h5>
               </div>
               <div class="card-body" style="color: black">
                  <p class="card-text">
                  <p class="intro">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                  </p>
                  
               </div>
            </div>
         </div>
         <div class=" col-md-12 col-lg-4 mt-3  d-flex align-items-stretch">
            <div class="card">
               <div class="card-header">
                  <h5>Dummy</h5>
               </div>
               <div class="card-body" style="color: black">
                 <p class="intro">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                  </p>
                  <a href="#" class="btn btn-outline-success btn-sm"> Explore</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
   src="https://code.jquery.com/jquery-3.4.1.min.js"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
   crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>