<% provide(:title, @user.name) %>
<section id="header" class="jumbotron text-center">
   <div id="header-content">
   <h1 class="display-3">
     User
   </h1>
   <h2>
       <%= @user.name %>
   </h2>
   <h2>
        <%= @user.email %>
   </h2>
   </div>
</section>
